<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form>
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">^</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <span class="input-group-addon">*</span>
              <input type="password" placeholder="password" class="form-control">
            </div>
          </div>
          <div class="col-xs-12">
            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </body
</html>
